<a href="https://colab.research.google.com/github/ErVidotto/Bootcamp_ironhack/blob/main/Ironhack_pre_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Hello Word")

In [ ]:
#adição
4+6

# subtração
100-80

# Multiplicação
9 * 8

# Divisão
200/24 

# Expoente
8**4

In [ ]:
 type ("I ate a banana")
type  (123)

In [ ]:
"Hello " *8

In [ ]:
 # declarando variaveis para calculos matema
 x = 4
 y = 5
 z = x+y
 print (z)
 

z*y

In [ ]:
#Calculo de abrigo para animais
cachorro = 40
gatos = 25
coelhos = 10

shelter_length = 30
shelter_width = 25
total_animais = cachorro + gatos + coelhos
sqft = shelter_length * shelter_width

print ("Total de animais:", total_animais)
print ("Total shelter square feet:", sqft)
print ("Square feet per animal:", sqft/total_animais)

In [ ]:
#Entrada com variaveis a serem imputadas

first_name = input ("Enter you first name: ")

print ("Ola, ", first_name)

In [ ]:
dogs = int (input("Enter the number of dogs: "))
cats = int (input("Enter the number of cats: "))
rabitts = int (input("Enter the number of rabitts: "))

shelter_length = int (input("Enter the shelter length: "))
shelter_width = int (input("Enter the shelter width: "))

total_animals = dogs + cats + rabitts
sqft = shelter_length * shelter_width
print ("Total number of animals: ", total_animals)
print ("Total shelter square feet: ", sqft)
print ("Total geet per animal: ", sqft/total_animals)

#no exercicio proposto o resulta foi de 7,5, porém foi desconsiderado por mim por se tratar de um erro

In [ ]:
len ("automobile")

word = "automobile"
word [4:]
#Os dois pontos antes do número trás o começo da frase,
#Os dois pontos depois do número trás o fim da frase

In [ ]:
# Lista
#[1,3,5,7,2,4,8,10]
 
#['The', 'man', 'in', 'the', 'blue', 'suit']
 
#['apple', 390, 876, 'orange', 'highway', 2, 87, 36]


lst  = ['The', 'man', 'in', 'the', 'blue', 'suit']
lst.append('jacket')
lst

lst.remove('suit')
lst

lst2 = ['and', 'the', 'green', 'trousers']
comb_list = lst + lst2
comb_list

In [ ]:
num_list = [34, 12, 93, 783, 330, 896, 1, 55]
sum(num_list)

sum(num_list)/len(num_list)

In [ ]:
ages = {'Brian':23, 'Amy':22, 'Darlene':47, 'Ralph':32, 'Jordan':28, 'Stephanie':35}



ages ['Vanessa'] = 30
ages

dell ages ['Vanessa']

In [ ]:
#Exemplo de tuplas

a = [1,2,3,4,5]
b = (1,2,3,4,5)

a.append(6)
a

#b.append (6)
#b (Amostra com erro por conta da tupla, que não é mutavel)
tuple (a)

In [ ]:
#sequencia unica
dupe_list = [1,2,2,3,3,3,4,4,4,4,5,5,5,5,5]
uniques = set(dupe_list)
uniques

In [ ]:
happy = True
print("Happy variable is set to ", happy)

In [ ]:
print(5 + 5 == 10)
print('apple' != 'orange')
print(100 > 75)
print(93 < 80)
print(3 in [1,2,3,4,5])
print(3 not in [1,2,3,4,5])


print((5 + 5 == 10) & ('apple' != 'orange'))
print((100 > 75) & (93 < 80))
print((100 > 75) | (93 < 80))
print((93 < 80) | (3 not in [1,2,3,4,5]))

In [ ]:
number = 10

if number < 10:
  print ("Number is less than 10")
elif number > 10:
  print ("Number is greater than 10")
elif number == 10:
  print ("Number is exactly 10")
else:
  print ("Number is probably not a number ar all")

In [ ]:
commute = 30
rain = False
traffic = True
 
if (rain == True) | (traffic == True):
    if (rain == True) & (traffic == True):
        total_commute = commute + 15 + 20
    elif (rain == True) & (traffic == False):
        total_commute = commute + 15
    elif (rain == False) & (traffic == True):
        total_commute = commute + 20
else:
    total_commute = commute
print("Your total commute time is expected to be", total_commute, "minutes.")

In [ ]:
#Funções em loop
range (10)
range (5,15)

len(range(5, 15))

for i in range(5,15):
  print (i)

In [ ]:
fruits = ['apple', 'orange', 'banana', 'grapes', 'pineapple']
 
for fruit in fruits:
    print(fruit)

In [ ]:
ages = {'Brian':23, 'Amy':22, 'Darlene':47, 'Ralph':32, 'Jordan':28, 'Stephanie':35}

for name, age in ages.items():
    print(name, "is", age, "years old.")

In [ ]:
num_list = [34, 12, 93, 783, 330, 896, 1, 55]
total = 0

for i in num_list:
  total +=i
  print ("Total is currently", total)

In [ ]:
new_list = []

for i in range(1, 11):
    square = i**2
    new_list.append(square)

print(new_list)

In [ ]:
total_time =60
minutes_elapsed = 0
wait = 15

print("Cake is in the oven.")
minutes_elapsed += wait

while minutes_elapsed < total_time:
  print("Cake is not done yet.")
  minutes_elapsed += wait

print("It's done. Lets eat")

In [ ]:
import os
os.getcwd()
'/ironhack/01-python-beginner'

root = 'C:'
level_1 = 'ironhack'
level_2 = 'module_0'
level_3 = 'python-beginner'
level_4 = 'data'

os.path.join(root, level_1, level_2, level_3, level_4)

In [ ]:
folder_name = "new_folder"

if  os.path.exists(folder_name) == False:
    os.makedirs(folder_name)

In [ ]:
with open("exemple.txt","w") as f:
  f.write("Hello World! \n")
  f.write("How are you? \n")
  f.write("I'm fine.")

In [ ]:
with open("exemple.txt", "r") as f:
  lines =f.readlines()
  for line in lines:
    print(line)

In [ ]:
data = []

with open("weight_height.csv", "r") as f:
    lines = f.readlines()
    for line in lines:
        data.append(line.split()[0].split(","))

In [ ]:
data [0]

In [ ]:
avg_height = sum(heights)/len(heights)
print(avg_height)

In [ ]:
heights = []

for person in data[1:]:
    height = int(person[2])
    heights.append(height)

In [ ]:
male_heights = []
female_heights = []

for person in data[1:]:
    height = int(person[2])
    if person[0] == 'M':
        male_heights.append(height)
    elif person[0] == 'F':
        female_heights.append(height)

avg_male_height = sum(male_heights)/len(male_heights)
avg_female_height = sum(female_heights)/len(female_heights)

print("Avg male height:", avg_male_height)
print("Avg female height", avg_female_height)